name: Go

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pkl-community/setup-pkl@v0
        with:
           pkl-version: 0.28.2
      - run: make
      - uses: actions/setup-go@v6
      - run: |
            go install github.com/apple/pkl-go/cmd/pkl-gen-go@latest
            pkl-gen-go control.pkl
            go test
