name: Run security checks
on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
      - uses: golangci/golangci-lint-action@v8
      - uses: golang/govulncheck-action@v1
