name: Generate and deploy docs
# https://pkl-lang.org/main/current/pkl-doc/index.html
on: [push]
jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v5
      with:
        distribution: 'zulu' # See 'Supported distributions' for available options
        java-version: '17'
    - uses: jbangdev/setup-jbang@main
    # https://central.sonatype.com/search?q=pkl-doc
    - run: jbang run --main org.pkl.doc.Main "org.pkl-lang:pkl-doc:0.27.2" control.pkl doc-package-info.pkl
    - name: setup pages
      uses: actions/configure-pages@v5
    - name: upload artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: out
    permissions:
      contents: write
  deploy-pages:
    runs-on: ubuntu-latest
    steps:
    - id: deployment
      name: deploy pages
      uses: actions/deploy-pages@v4
    needs: build-and-upload
    permissions:
      pages: write
      id-token: write
